body {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  letter-spacing: -0.05em;
  background: #ededed;
  color: #353B40;
}

a {
  color: #666666;
  font-weight: bold;
}

a:visited {
  color: #1b2660;
  font-weight: normal;
}

#wrapper {
  width: 50em;
  margin: 2em auto 0;
  padding: 0;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

#header {
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-top: 0px;
  position: static;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-right: 0px;
  margin-left: 30px;
  background-color: black;
  line-height: 100px;
  text-transform: uppercase;
  text-align: left;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;  
  border-top-left-radius: 1em;  
  border-top-right-radius: 1em;
}

#blogtitle { font-family: Georgia, "Times New Roman", Times, serif; float: left;}#header h1 {
  font-size: 4em;
  display: inline;
  letter-spacing: -0.08em;
  color: #fff;
  font-weight: normal;
}

#header h2 {
  display: inline;
  margin-left: 0.5em;
  font-size: 2em;
  font-weight: normal;
  color: #fed;
}

#menu {
	float: right;
	margin-right: auto;
	position: relative;
	font-size: 1em;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	display: inline;
}

#menu a {
	color: #676767;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	display: inline;
}

#content {
	padding-top: 100px;
}

#content h2 {
  margin: 0 0 0.5em 0;
  color: black;
  font-size: 2em;
}

#content p {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 140%;
  letter-spacing: -0.03em;
}

span.date {
  display: block;
  padding: 0.4em 0.6em 0.3em;
  float: left;
}

div.post {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 2em;
}

.post h1 {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  margin-top: 0.2em;
}

.post h1 a {
  border-bottom-color: #666666;
  border-bottom-style: solid;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px;
  font-weight: bold;
}

pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New",Courier,monospace;
  font-size: 12px;
  letter-spacing: 0;
}

table.post-list {
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  color: #787878;
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  padding: 0.5em 0.3em;
  border-bottom: 1px solid #dba;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

div.related {
  margin-bottom: 2em;
}

#footer {
  margin-bottom: 2em;
  color: #727272;
  font-size: 0.3em;
  text-align: center;
}

.home_box {
  float: left;
}

#content .home_box h2 {
  background: #d1d1d1;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #262;
  margin-bottom: 0em;
  color: white;
}

.home_box h2 a {
  margin: 0 0.2em;
}

#home_left {
  width: 45em;
}

#home_right {
  width: 16em;
  margin-left: 1em;
}

.clearfix { clear: both;}

#footer a {
  color: #4555b2;
  font-weight: normal;
}

code {
  background: #fff5dd;
  font-size: 14px;
  font-family: "Consolas","Courier New",Courier,monospace;
}

.home_box .post h1 a {
  font-size: 0.7em;
}

.repo {
  background: #fff5cc;
  border: 2px solid #dba;
  padding: 0.7em 1em;
  font-size: 0.8em;
  letter-spacing: -0.03em;
  margin: 1em 1em 0 0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.repo h3 {
  margin: 0 0 0.3em 0;
}
.repo h3 a {
  font-weight: bold;
  color: black;
  letter-spacing: 0;
  font-size: 1.1em;
}

#github-projects.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }

