body {
  letter-spacing: -0.05em;
  color: black;
}

#content a {
  color: black;
  font-weight: bold;
  text-decoration:none;
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  font-size:0.9em;
}

# content a:visited {
  color: black;
  font-weight: normal;
}

#header {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 2em;
  height: 50px;
  clear: both;
  position: relative;
  text-align: left;
  text-decoration: none;
}

#blogtitle { 
  float: left;
  color:red;
}


#menu {
  word-spacing: 20px;
  margin-top: 20px;
  font-size: 0.5em;
  float: right;
  margin-right: auto;
  position: relative;
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  display: inline;
}

#header a {
  color: black;
  font-family: "Lucida Grande",Helvetica, Verdana, Arial, sans-serif;
  display: inline;
  text-decoration: none;
}

#header a:visited {
  color: black;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  display: inline;
}

#content {
  padding-top: 10px;
}

#content h2 {
  margin: 0 0 0.5em 0;
  font-size: 2em;
}

#content p {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 140%;
  letter-spacing: -0.03em;
}

#wrapper {
  bottom: 0px;
  position: relative;
  top: 0px;
  width: 900px;
  margin: 0 auto;
  padding: 50px;
}

.post h1 a {
  font-size: 30px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px;
  font-weight: bold;
}

span.date {
  display: block;
  padding: 0.4em 0.6em 0.3em;
  float: left;
}

div.post {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 2em;
}

.post h1 {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  margin-top: 0.2em;
}

pre, code {
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: Consolas, Inconsolata, Courier, monospace;
  letter-spacing: 0;
}

table.post-list {
  padding-top: 0.5em;
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  color: #787878;
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  border-bottom-width: 10px;
  padding: 0.5em 0.3em;
  border-bottom: solid #dba;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

div.related {
  margin-bottom: 2em;
}

#footer {
  margin-bottom: 2em;
  color: #727272;
  font-size: 0.3em;
  text-align: center;
}

.clearfix { clear: both;}

#footer a {
  color: #4555b2;
  font-weight: normal;
}



.repo {
  background: #fff5cc;
  border: 2px solid #dba;
  padding: 0.7em 1em;
  font-size: 0.8em;
  letter-spacing: -0.03em;
  margin: 1em 1em 0 0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.repo h3 {
  margin: 0 0 0.3em 0;
}
.repo h3 a {
  font-weight: bold;
  color: black;
  letter-spacing: 0;
  font-size: 1.1em;
}

#github-projects.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }

