body {
  letter-spacing: -0.05em;
  color: black;
  background:solid white;
  padding:0px;
  margin:0px;
}

#content a {
  color: #3366a5;
  text-decoration:none;
}

#content h1 a {
  color:black;
  font-weight:normal;
  text-align:center;
  text-decoration:none;
}

#content h1 a:visited {
  color:black;
}

#content a:visited {
  color: #99bbfa;
}

#content a:hover {
  text-decoration:underline;
}

#content h2 {
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  font-weight:normal;
}

#header {
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 1em;
  height: 30px;
  clear: both;
  position: relative;
  text-align: left;
  text-decoration: none;
}

#blogtitle { 
  float: left;
  color:#aa0000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:1.1em;
}

#blogtitle a {
  color:black;
}

#blogtitle a:visited {
  color:black;
}

#menu {
  word-spacing: 20px;
  float: right;
  margin-right: auto;
  margin-top:4px;
  position: relative;
  font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
  display: inline;
  font-size:0.8em;
  color:#333;
}

#menu a {
  color:#333;
}

#menu a:visited {
  color:grey;
}

#header a {
  text-decoration: none;
}

#content {
  padding-top: 10px;
}


#content p {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

#wrapper {
  bottom: 0px;
  position: relative;
  top: 0px;
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  padding-top:10px;
}

.post h1 a {
  font-size: 30px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px;
  font-weight: bold;
}

span.date {
  display: block;
  padding: 0.4em 0.6em 0.3em;
  float: left;
}

div.post {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 2em;
}

.post h1 {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  margin-top: 0.2em;
}

pre, code {
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: Consolas, Inconsolata, Courier, monospace;
  letter-spacing: 0;
}

table.post-list {
  padding-top: 0.5em;
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  color: #787878;
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  border-bottom-width: 10px;
  padding: 0.5em 0.3em;
  border-bottom: solid #dba;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

#footer {
  margin-bottom: 2em;
  color: #727272;
  font-size: 0.3em;
  text-align: center;
}

.clearfix { clear: both;}

#footer a {
  color: #4555b2;
  font-weight: normal;
}
.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }

