<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <title>tcrayford {{: page.title }}</title>
      <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
      <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8"/>
      <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
      <link rel='alternate' type='application/rss+xml' href='http://feeds2.feedburner.com/tcrayford' />
    </head>
    <body>
      <div id='wrapper'>
        <div id='header'>
          <div id='blogtitle'>t<a href='/'>crayford</a></div>
          <div id='menu'>
            <a href='/archive.html'>Archive</a>
            <a href='/about.html'>About</a>
          </div>
        </div>
        <div id='content'>
          {{ content }}
          <div class='clearfix'></div>
        </div>

        <div id='footer'>
          © 2009 Tom Crayford. Some rights reserved
        </div>
        <script type="text/javascript">
          //<![CDATA[
          (function() {
              var links = document.getElementsByTagName('a');
              var query = '?';
              for(var i = 0; i < links.length; i++) {
                  if(links[i].href.indexOf('#disqus_thread') >= 0) {
                      query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                  }
              }
              document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/tcrayford/get_num_replies.js' + query + '"></' + 'script>');
          })();
          //]]>
        </script>
      </div>
    </body>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-6473410-2");
            pageTracker._trackPageview();
      } catch(err) {}</script>
    </html>
